body{
    background-image:url(../signup/img3.jpg);
    margin: 0px;
    background-position: center;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
header{
    background-color: rgba(39, 70, 78, 0.178);
    border: 1px solid black;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}
section{
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 40px;
}
footer{
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgba(39, 70, 78, 0.178);
    border: none;
}
nav ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
}
nav ul a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    border: 1px solid rgb(141, 134, 134);
    border-radius: 20px;
    padding:10px 25px;
    background-color: rgb(35, 241, 231);
    margin-right: 10px;
}
nav ul a:hover{
    text-decoration: none;
    color:black;
    font-size: 20px;
    border: 1px solid rgb(141, 134, 134);
    border-radius: 20px;
    padding:10px 25px;
    background-color:aliceblue;
}
h1{
    color: aliceblue;
    margin-left: 10px;
}
h3{
    filter:drop-shadow(10px 1px 3px rgba(245, 241, 241, 0.795));
}
@media screen and (max-width:600px){
.navbar-btn{
    border: none;
    background: none;
    border: 1px solid white;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.navbar-btn span{
    display: block;
    width: 20px;
    border-top: 1px solid white;
}
.navbar-btn span:not(:last-child){
    margin-bottom: 5px;
}
.hide{
    display: none;
}
.navbar-item ul{
    list-style-type: none;
    padding: 0;
}
.navbar-item ul li{
    display: block;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.829);
    border-right: 1px solid  rgba(255, 255, 255, 0.829);
    box-shadow: 1px 10px 30px rgb(1, 240, 248);

}
.navbar-item ul li a{
    color: white;
    text-decoration: none;
    font-size: 28px;
    background: none;
    border: none;
}
.navbar-item ul li a:hover{
    color: aqua;
    
}
nav .navbar-item ul{
 display: flex;
 display: block;
 align-items: center;
 position: absolute;
 left: 40px;
 margin-top: 100px;
}
}
@media (min-width:601px){
.navbar-btn{
    display: none;
}
}